<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <p>>Item is added to your cart.</p>
            <a href="/products">Continue Shopping</a>
            <a href="/shoppingCart">Cart</a>
    </body>
</html>