<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <p>Wrong password!
                </p>
            <a href="/login">back to Login</a><br>
            <a href="/register">New customer? register</a>
    </body>
</html>