<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
            <p>Congratulation you are a member now!</p>
            <a href="/login">Login</a>
            <a href="/home">Home</a>
    </body>
</html>